@import '../../styles/variables';
@import '../../styles/mixin';

.user-stories {
  @include flexColumn;
  gap: 60px;

  &__list {
    @include flexRowWrapStart;
    width: 100%;
    gap: 20px;

    @media screen and (max-width: 670px) {
      justify-content: center;
    }
  }
}
