@import '../../../styles/variables';
@import '../../../styles/mixin';

.modal-header {
  width: 100vw;
  height: fit-content;
  max-height: fit-content;
  background-color: $white;

  &__container {
    @include flexRow;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 20px;
    position: relative;
  }

  &__inner {
    @include flexRowNoWrapStart;
    gap: 24px;

    @media screen and (max-width: 500px) {
      gap: 8px;
    }
  }

  &__button {
    color: $black;
    padding: 8px;
    border-radius: 50%;
    background-color: rgba($color: $black, $alpha: 0.04);
    transition: $transition;

    .MuiSvgIcon-root {
      width: 24px;
      height: 24px;
      color: inherit;
      transition: $transition;
    }

    &:hover {
      color: rgba($color: $black, $alpha: 0.9);

      .MuiSvgIcon-root {
        transform: rotate(90deg);
      }
    }

    &:active {
      background-color: rgba($color: $black, $alpha: 0.08);
      color: $black;
    }
  }
}
