@import '../../../../styles/variables';
@import '../../../../styles/mixin';

.read-story {
  @include flexColumnNoWrapCenter;
  justify-content: flex-start;
  padding-top: 65px;

  &__overlay {
    @include flexRowNoWrapBetween;
    width: 940px;
    padding: 40px 0;

    &.sharedStory {
      @media screen and (max-width: 500px) {
        width: 100%;
        padding: 10px 0 30px;

        >.audio-player {
          bottom: 120px;
        }
      }
    }

    @media screen and (max-width: 950px) {
      width: 640px;
    }

    @media screen and (max-width: 650px) {
      width: 440px;
      padding: 40px 0 125px;
    }  

    @media screen and (max-width: 500px) {
      @include flexColumnNoWrapCenter;
      flex-direction: column-reverse;
      padding: 12px 0 125px;
      gap: 8px;
    }
  }
}
