@import '../../styles/mixin';

.editable-cover {
  position: relative;
  display: flex;
  justify-content: center;

  &__inner {
    @include flexRowNoWrapCenter;
    width: 100%;
    height: 100%;
  }
}