@import './_variables.scss';

// === fonts === //

@mixin fontRegular16 {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@mixin fontMedium12 {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

@mixin fontMedium14 {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

@mixin fontMedium16 {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

@mixin fontMedium18 {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

@mixin fontBold14 {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

@mixin fontBold16 {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

@mixin fontBold24 {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

@mixin fontBold30 {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

@mixin fontHeavy10 {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: 900;
  line-height: 12px;
}

@mixin fontHeavy16 {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
}

@mixin fontHeavy30 {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
}

@mixin fontHeavy40 {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
}

@mixin fontCaslon34 {
  font-family: 'Lora', serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -1px;
}

// === flex-container === //

@mixin flexColumn {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin flexColumnNoWrapCenter {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

@mixin flexRow {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

@mixin flexRowNoWrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

@mixin flexRowWrapCenter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

@mixin flexRowWrapStart {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

@mixin flexRowNoWrapCenter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

@mixin flexRowNoWrapStart {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin flexRowNoWrapBetween {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
