$white: #ffffff;
$black: #000000;

$border: rgba(0,0,0,0.12);
$border01: #F0F0F0;
$border02: #EFEFEF;
$stroke: #D8D8D8;
$bg: #EEEEEE;


$btn: #999999;
$btn-light: #F5F5F5;

$red: #FF4848;

$grey07: #87918C;
$grey08: #75807B;
$grey09: #5A6861;

$shadow-menu: 0 4px 8px 0 rgba(0,0,0,0.04);
$shadow-modal: 0px 8px 40px -21px rgba(37, 102, 67, 0.1);
$shadow-small-modal: 0px 19px 40px -8px rgba(37, 102, 67, 0.1);
$shadow-modal-button: 0 4.02px 8.029px -2.00725px rgba(63, 121, 89, 0.15);
$shadow-button: 0px 100px 80px rgba(158, 156, 156, 0.1),
  0px 30.1471px 24.1177px rgba(158, 156, 156, 0.0651589),
  0px 12.5216px 10.0172px rgba(158, 156, 156, 0.05),
  0px 4.5288px 3.62304px rgba(158, 156, 156, 0.0348411);

$transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 0.1) 0ms;
